<footer class="footer-navbar sticky-bottom border-top">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center py-3">

        <!-- Social Icons -->
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <!-- Copyright -->
        <div class="text-center text-black">
            © Wanderlust Private Limited
        </div>

        <!-- Links -->
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>
        </div>

    </div>
</footer>