<% layout("/layouts/boilerplate") %>



    <hr>
    <h4>1. Information We Collect</h4>
    <ul>
        <li>Name and username</li>
        <li>Email address</li>
        <li>Account login data (encrypted password)</li>
        <li>Property listing information</li>
        <li>User reviews and comments</li>
    </ul>
    <h4>2. How We Use Information</h4>
    <p> We use your data to create accounts, verify users, show listing ownership, improve functionality, and prevent unauthorized activity. </p>
    <h4>3. Cookies</h4>
    <p> We may use cookies to keep you logged in and remember preferences. You can disable cookies in your browser settings. </p>
    <h4>4. Data Protection</h4>
    <p> We use authentication checks, database security, and password encryption. However, no online service is completely secure. </p>
    <h4>5. Sharing of Information</h4>
    <p> We do not sell user personal information. We only share data if required by law. </p>
    <h4>6. Third-Party Services</h4>
    <p> Our website may use map or external services that collect limited technical data such as IP address. </p>
    <h4>7. User Rights</h4>
    <ul>

        <li>Delete account</li>
        <li>Remove listings and reviews</li>
    </ul>
    <h4>8. Policy Updates</h4>
    <p> We may update this policy anytime. Continued use means acceptance. </p>
    <h4>9. Contact</h4>
    <p> Email: support@wanderlust.com </p>
    </div>